<section>
	<div class="selections">
		Shape: {{shape}} &nbsp &nbsp Size: {{size}} &nbsp &nbsp Type: {{type}} &nbsp &nbsp Flavour: {{flavour}}
		<br/>
	</div>
	<br/>
	<p class="heading-frame">Step 5: Select side you want with your Cake.</p>
	
	<a href="#/side/Continental Cream">
		<div class="image-div grow1">
			<img src="img/continental-cream.jpg"><br/>
			Continental Cream
		</div>
	</a>
	
	<a href="#/side/Chocolate Crumb">
		<div class="image-div grow1">
			<img src="img/chocolate-crumb.jpg"><br/>
			Chocolate Crumb
		</div>
	</a>
	
	<a href="#/side/Ganache">
		<div class="image-div grow1">
			<img src="img/ganache.jpg"><br/>
			Ganache: <br/>White Chocolate Crumb
		</div>
	</a>
</section>