<section>
	<div class="selections">
		Shape: {{shape}} &nbsp &nbsp Size: {{size}}
		<br/>
	</div>
	<br/>
	<p class="heading-frame">Step 3: Choose the Type of Cake.</p>
	
	<a href="#/type/Sponge Cake">
		<div class="image-div grow1">
			<img src="img/sponge-cake.jpg"><br/>
			Sponge Cake
		</div>
	</a>
	
	<a href="#/type/Mud Cake">
		<div class="image-div grow1">
			<img src="img/mud-cake.jpg"><br/>
			Mud Cake
		</div>
	</a>
	
	<a href="#/type/Ice Cream Cake">
		<div class="image-div grow1">
			<img src="img/icecream-cake.jpg"><br/>
			Ice Cream Cake
		</div>
	</a>
</section>