<section>
	<div class="selections">
		Shape: {{shape}} &nbsp &nbsp Size: {{size}} &nbsp &nbsp Type: {{type}}
		<br/>
	</div>
	<br/>
	<p class="heading-frame">Step 4: Select flavour for your Cake.</p>
	
	<a href="#/flavour/Chocolate">
		<div class="image-div grow1">
			<img src="img/chocolate.jpg"><br/>
			Chocolate
		</div>
	</a>
	
	<a href="#/flavour/Vanilla">
		<div class="image-div grow1">
			<img src="img/vanilla.jpg"><br/>
			Vanilla
		</div>
	</a>
	
	<a href="#/flavour/Cookies & Cream">
		<div class="image-div grow1">
			<img src="img/cookies-cream.jpg"><br/>
			Cookies & Cream
		</div>
	</a>
	
	<a href="#/flavour/Banana">
		<div class="image-div grow1">
			<img src="img/banana.jpg"><br/>
			Banana
		</div>
	</a>
	
	<a href="#/flavour/Caramel">
		<div class="image-div grow1">
			<img src="img/caramel.jpg"><br/>
			Caramel
		</div>
	</a>
	
	<a href="#/flavour/Honey">
		<div class="image-div grow1">
			<img src="img/honey.jpg"><br/>
			Honey
		</div>
	</a>
</section>